<div class="breadcrumb">
    <a routerLink="/cours">Cours</a> /
    <a routerLink="/sujet/{{ coursId }}">Sujets</a> /
    <a routerLink="/post/{{ sujetId }}">Posts</a> /
    <span>Creation d'un post</span>
</div>
<div class="main">
    <h1>Création d'un nouveau post</h1>

    <p>Veuillez insérer les données demandées</p>

    <form (ngSubmit)="create()">
        <label for="contenu">Contenu :</label>
        <input type="text" id="titre" name="titre" [(ngModel)]="contenu" required><br><br>        
        <input type="submit" value="Submit">
    </form>
</div>
