<div class="main">
    <h1> Posts </h1>
    <button type="button" routerLink="/add-post"> Ajouter un post </button>
    <div>
        <table>
            <thead>
                <tr>
                    <th> Contenu </th>
                    <th> Auteur </th>
                    <th> Date de création </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts">
                    <td>{{ post.contenu }}</td>
                    <td>{{ post.auteurId }}</td>
                    <td>{{ post.created }}</td>
                    <td class="button-group">
                        <button [ngClass]="{ 'action-button': true, 'inactive': currentUserId !== post.auteurId }"
                            [disabled]="currentUserId !== post.auteurId" [routerLink]="['/update-post', post.id]">
                            Modifier
                        </button>
                        <button [ngClass]="{ 'action-button': true, 'inactive': currentUserId !== post.auteurId }"
                            [disabled]="currentUserId !== post.auteurId" (click)="deletePost(post.id)">
                            Effacer
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
