<div class="breadcrumb">
  <a routerLink="/cours">Cours</a> /
  <a routerLink="/sujet/{{ coursId }}">Sujets</a> /
  <a routerLink="/post/{{ sujetId }}">Posts</a> /
  <span>Modification d'un post</span>
</div>
  <div class="main">
    <h1>Modification du post</h1>
    <p>Veuillez insérer les données demandées</p>
    <form (ngSubmit)="updatePost()">
      <label for="contenu">Contenu :</label>
      <input type="text" id="contenu" name="contenu" [(ngModel)]="contenu" [placeholder]="this.contenu" required><br><br>
      <input type="submit" value="Enregistrer">
    </form>
  </div>
  