<!-- src/app/components/sujet/update-sujet.component.html -->
<div class="breadcrumb">
    <a routerLink="/cours">Cours</a> /
    <a routerLink="/sujet/{{ idCours }}">Sujets</a> /
    <span>Modification du sujet</span>
</div>
<div class="main">
    <h1>Modification du sujet</h1>

    <p>Veuillez insérer les données demandées</p>

    <form (ngSubmit)="updateSujet()">
        <label for="titre">Titre :</label>
        <input type="text" id="titre" name="titre" [(ngModel)]="titre"  [placeholder]="this.titre" required><br><br>        
        <input type="submit" value="Enregistrer">
    </form>
</div>
